<user_instructions>
    {{ user_instructions }}
</user_instructions>

<job_description>
    {{ job_description }}
</job_description>

<jobs>
{%- for job in jobs %}
    <job>
        <job_id>{{ job.id }}</job_id>
        <company>{{ job.company }}</company>
        <job_title>{{ job.role }}</job_title>
        <start_date>{{ job.start_date }}</start_date>
        <end_date>{{ job.end_date }}</end_date>
        {%- for bullet in job.bullets%}
        <bullet>
            <text>{{ bullet }}</text>
        </bullet>
        {%- endfor %}
    </job>
{%- endfor %}
</jobs>